<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.opencv.cultoftheunicorn.marvel"
    android:installLocation="auto"
    android:versionCode="24"
    android:versionName="2.4">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo"
        android:label="FacePay"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name="cultoftheunicorn.marvel.PaymentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="cultoftheunicorn.marvel.AppAuthActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="cultoftheunicorn.marvel.AppAuthReg"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="cultoftheunicorn.marvel.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cultoftheunicorn.marvel.MainActivity"
            android:label="FacePay">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="cultoftheunicorn.marvel.Recognize"
            android:screenOrientation="landscape" />
        <activity
            android:name="cultoftheunicorn.marvel.Training"
            android:label="FacePay"
            android:screenOrientation="landscape" />
        <activity
            android:name="cultoftheunicorn.marvel.NameActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="cultoftheunicorn.marvel.ReviewResults"
            android:label="Review and Mark" />
    </application>

</manifest>